@model Dice
@{
    ViewData["Title"] = "Home Page";
}

<script src="https://code.jquery.com/jquery-3.4.0.js"></script>

<div class="text-center">
    <h1 class="display-4">Welcome To DND Dice Roll!</h1>
    <p>Have fun!!</p>
</div>
<div>
    @Html.AntiForgeryToken()
    <form method="POST">
        <table>
            <thead>
                <tr>
                    <th>
                        <label name="diceType">Type of Dice</label>
                        <select name="diceType" id="diceType" class="form-control-sm">
                            <option value="">-Select a Dice-</option>
                            <option value="2">D2</option>
                            <option value="4">D4</option>
                            <option value="6">D6</option>
                            <option value="8">D8</option>
                            <option value="10">D10</option>
                            <option value="12">D12</option>
                            <option value="20">D20</option>
                            <option value="100">D100</option>
                        </select>
                    </th>
                    <th>
                        <label style="padding: 0 10px 0 40px">Number of Dice</label>
                        <input type="text" id="qtyOfDice" class="small" placeholder="1" size="8" />
                    </th>
                    <th>
                        <label style="padding: 0 10px 0 40px">Bonus</label>
                        <input type="text" id="rollBonus" class="small" placeholder="0" size="8" />
                    </th>
                    <th style="padding: 0 10px 0 40px">
                        <button type="submit" class="btn btn-primary" id="btnDiceRoll">Roll</button>
                    </th>
                </tr>
            </thead>
        </table>
        
    </form>
</div>

<div class="text-center">
    <div class="col-md-6">
        <table class="table table-bordered" id="tblResults">
            <thead>
                <tr>
                    <th>Dice</th>
                    <th>Qty</th>
                    <th>Bonus</th>
                    <th>Result</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    </div>

    <script>
        $('#btnDiceRoll').click(function (event) {
            event.preventDefault();
        $(document).ready(function () {
            let tableHtml = "";
            let selectedDice = parseInt($("#diceType").val());
            let qtyOfDice = parseInt($("#qtyOfDice").val());
            let rollBonus = parseInt($("#rollBonus").val());
            let today = new Date();
            let timeOfRoll = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();

            if (Number.isNaN(qtyOfDice) || Number.isNaN(selectedDice)) {
                alert("You must select a dice and its quantity.");
            }
            else {
                let roll = makeRoll(selectedDice, qtyOfDice, rollBonus);
                tableHtml += '<tr><td>'
                    + 'D'+selectedDice + '</td><td>'
                    + qtyOfDice + '</td><td>'
                    + rollBonus + '</td><td>'
                    + roll + '</td><td>'
                    + timeOfRoll.toString() + '</td></tr>';
                $('#tblResults').append(tableHtml);
                displayRoll(roll);
            }
                
            });
        });</script>
